.todo
  position: relative
  padding: 1em
  background-color: #EEE
  color: #333
  border-bottom: 1px solid #DDD
  cursor: pointer
  user-select: none

  &:last-child
    margin-bottom: 0

  .remove
    display: inline-block
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: .5rem
    color: #D55
    font-size: 2em
    line-height: normal

  &.checked
    opacity: .25

    .title
      text-decoration: line-through